label {
    color: white;
    text-shadow: 1px 1px #0000006e;
}

p {
    border: none;
    padding: none;
    margin: none;
}

/* .border {
    border: 2px solid #dc3545 !important;
} */

/* RANGE INPUT COLOR */
.custom-range::-webkit-slider-thumb {
    background-color: #e24a4a;
}

.custom-range::-moz-range-thumb {
    background-color: #e24a4a;
}

.custom-range::-ms-thumb {
    background-color: #e24a4a;
}
-webkit-slider-thumb:active {
    background-color: #e24a4a;
}
-webkit-slider-thumb,
.custom-range:focus::-webkit-slider-thumb,
.custom-range:focus::-moz-range-thumb,
.custom-range:focus::-ms-thumb {
    box-shadow: #e24a4a;
}
/* RANGE INPUT COLOR */

/* not working */
/* .formResponsive {
  @extend .form-group;
  @extend .col-lg-4;
  @extend .col-sm-6;
  @extend .col-12;
} */

/* Color gradient img */
@media only screen and (min-width: 1080px) {
    /* computer */
    .bg-danger-with-radial-gradient {
        background: rgb(238, 162, 154);
        background: radial-gradient(
            circle,
            rgba(238, 162, 154, 1) 0%,
            rgba(201, 76, 76, 1) 17%,
            rgba(201, 76, 76, 1) 60%,
            rgba(201, 76, 76, 0) 90%
        );
    }
}
@media only screen and (max-width: 1080px) {
    /* mid-size */
    .bg-danger-with-radial-gradient {
        background: rgb(238, 162, 154);
        background: radial-gradient(
            circle,
            rgba(238, 162, 154, 1) 0%,
            rgba(201, 76, 76, 1) 25%,
            rgba(201, 76, 76, 1) 60%,
            rgba(201, 76, 76, 0) 90%
        );
    }
}
@media only screen and (max-width: 768px) {
    /* mid-size */
    .bg-danger-with-radial-gradient {
        background: rgb(238, 162, 154);
        background: radial-gradient(
            circle,
            rgba(238, 162, 154, 1) 0%,
            rgba(201, 76, 76, 1) 35%,
            rgba(201, 76, 76, 1) 60%,
            rgba(201, 76, 76, 0) 100%
        );
    }
}
@media only screen and (max-width: 500px) {
    /* phone */
    .bg-danger-with-radial-gradient {
        background: rgb(238, 162, 154);
        background: radial-gradient(
            circle,
            rgba(238, 162, 154, 1) 0%,
            rgba(201, 76, 76, 1) 60%
        );
    }
}
/* END: Color gradient img */
