.item-upper-right {
    position: absolute;
    top: 0;
    right: 0;
}
.item-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}
.item-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}
header {
    background-color: #eea29a;
    background: rgb(238, 162, 154);
    background: linear-gradient(
        0deg,
        rgba(238, 162, 154, 1) 0%,
        rgba(201, 76, 76, 1) 50%
    );
}
body {
    background-color: #c94c4c;
    background-color: #b1cbbb;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
}
.container-of-main {
    position: relative;
    flex-grow: 1;
    overflow: auto;
}
footer {
    background-color: #c94c4c;
    color: white;
    padding-bottom: 0.5em;
}
.secret-invisible-id {
    display: none;
}

#container-fill-height {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.centerElement {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titles {
    background-color: #deeaee;
}
#titles > td > div > h2 {
    color: black;
    text-shadow: 1px 1px #ffffff6e;
}
tbody > tr {
    background-color: #b1cbbb;
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
    color: white;
    text-shadow: 1px 1px #0000006e;
}
/* Change font sizes acording to screen size */
@media only screen and (min-width: 768px) {
    p,
    a,
    label {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.9rem;
    }
    h3 {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 768px) {
    p,
    a,
    label {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 500px) {
    p,
    a,
    label {
        font-size: 0.8rem;
    }

    h2 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1rem;
    }
}
/* END: Change font sizes acording to screen size */

/******** MODAL ********/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: rgb(201, 76, 76);
    margin: auto;
    padding: 0px 0px 15px;
    /* border: 1px solid #888; */
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
.modal-header {
    /* padding: 0px 10px 15px; */
    /* border: 1px solid #888; */
    background-color: rgb(211, 45, 45);
    color: white;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    right: 0;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/******** END: MODAL ********/
