h1,
h2,
h3,
h4,
h5,
h5,
p {
    color: white;
    text-shadow: 1px 1px #0000006e;
}
header {
    background-color: #eea29a;
    background: rgb(238, 162, 154);
    background: linear-gradient(
        0deg,
        rgba(238, 162, 154, 1) 0%,
        rgba(201, 76, 76, 1) 50%
    );
}
body {
    background-color: #c94c4c;
    background-color: #b1cbbb;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
}
.container-of-main {
    position: relative;
    flex-grow: 1;
    overflow: auto;
}
footer {
    background-color: #c94c4c;
    color: white;
    padding-bottom: 0.5em;
}
.secret-invisible-id {
    display: none;
}

#container-fill-height {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.centerElement {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titles {
    background-color: #deeaee;
}
#titles > td > div > h2 {
    color: black;
    text-shadow: 1px 1px #ffffff6e;
}
tbody > tr {
    background-color: #b1cbbb;
}

/* Change font sizes acording to screen size */
@media only screen and (min-width: 768px) {
    p,
    a,
    label {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.9rem;
    }
    h3 {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 768px) {
    p,
    a,
    label {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 500px) {
    p,
    a,
    label {
        font-size: 0.8rem;
    }

    h2 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1rem;
    }
}
/* END: Change font sizes acording to screen size */
