.item-upper-right {
    position: absolute;
    top: 0;
    right: 0;
}
.item-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}
.item-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}
header {
    background-color: #eea29a;
    background: rgb(238, 162, 154);
    background: linear-gradient(
        0deg,
        rgba(238, 162, 154, 1) 0%,
        rgba(201, 76, 76, 1) 50%
    );
    position: sticky;
}
body {
    background-color: #c94c4c;
    background-color: #b1cbbb;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
}
.container-of-main {
    position: relative;
    flex-grow: 1;
    overflow: auto;
}
footer {
    background-color: #c94c4c;
    color: white;
    padding-bottom: 0.5em;
}
.secret-invisible-id {
    display: none;
}

#container-fill-height {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.centerElement {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titles {
    background-color: #deeaee;
}
#titles > td > div > h2 {
    color: black;
    text-shadow: 1px 1px #ffffff6e;
}
tbody > tr {
    background-color: #b1cbbb;
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
    color: white;
    text-shadow: 1px 1px #0000006e;
}

h1 {
    font-size: calc(1.5rem + 1.5vw);
}

/* h2,
.navbar-brand {
    font-size: calc(1.1rem + 0.75vw);
}
h3 {
    font-size: calc(1rem + 1vw);
} */

/* Change font sizes acording to screen size */
@media only screen and (min-width: 768px) {
    p,
    a,
    small,
    label,
    option {
        font-size: 1.2rem;
        font-weight: 100;
    }

    .navbar-brand {
        font-size: 1.2rem;
        font-weight: bold;
        margin-right: 12px;
    }

    h2 {
        font-size: 1.7rem;
    }
    h3 {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 768px) {
    p,
    a,
    small,
    label,
    option {
        font-size: 1rem;
        font-weight: 100;
    }

    .navbar-brand {
        font-size: 1rem;
        font-weight: bold;
        margin-right: 12px;
    }

    h2 {
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 500px) {
    p,
    a,
    small,
    label,
    option {
        font-size: 0.8rem;
        font-weight: 100;
    }

    .navbar-brand {
        font-size: 0.8rem;
        font-weight: bold;
        margin-right: 12px;
    }
    h2 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1rem;
    }
}
/* END: Change font sizes acording to screen size */

/******** MODAL ********/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: rgb(201, 76, 76);
    margin: auto;
    padding: 0px 0px 15px;
    /* border: 1px solid #888; */
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
.modal-header {
    /* padding: 0px 10px 15px; */
    /* border: 1px solid #888; */
    background-color: rgb(211, 45, 45);
    color: white;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    right: 0;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/******** END: MODAL ********/

/******** Menu hover navbar ********/
.menu-area {
    background: rgb(159, 159, 177);
    background: #f8f9fa;
}
.dropdown-menu {
    padding: 0;
    margin: 0;
    border: 0 solid transition !important;
    border: 0 solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.mainmenu a,
.navbar-default .navbar-nav > li > a,
.mainmenu ul li a,
.navbar-expand-lg .navbar-nav .nav-link {
    color: rgb(103, 103, 103);
    background-color: #f8f9fa;
    /* font-size: 16px; */
    text-transform: capitalize;
    padding: 15px 8px;
    /* margin-right: 0; */
    font-family: "Roboto", sans-serif;
    display: block !important;
    text-decoration: none;
}

.mainmenu .active a,
.mainmenu .active a:focus,
.mainmenu .active a:hover,
.mainmenu li a:hover,
.mainmenu li a:focus,
.navbar-default .navbar-nav > .show > a,
.navbar-default .navbar-nav > .show > a:focus,
.navbar-default .navbar-nav > .show > a:hover {
    color: rgb(0, 0, 0);
    /* background: purple; */
    outline: 0;
}

.mainmenu {
    background: none;
    border: 0 solid;
    margin-right: 12px;
    /* padding-left: 16px; */
    padding: 0px 0px 0px 16px;
    min-height: 20px;
    width: 100%;
}
@media only screen and (min-width: 576px) {
    .mainmenu .collapse ul li:hover > ul {
        display: block;
    }
    .mainmenu .collapse ul ul {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 170px;
        display: none;
    }
    .mainmenu .collapse ul ul li {
        position: relative;
    }
    .mainmenu .collapse ul ul li:hover > ul {
        display: block;
    }
    .mainmenu .collapse ul ul ul {
        position: absolute;
        top: 0;
        left: 100%;
        min-width: 145px;
        display: none;
    }
}
@media only screen and (max-width: 576px) {
    .navbar-nav .show .dropdown-menu .dropdown-menu > li > a {
        padding: 16px 15px 16px 35px;
    }
    .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a {
        padding: 16px 15px 16px 45px;
    }
}
/******** Menu hover navbar ********/
