#titles {
  background-color: #deeaee;
}
#titles > td > div > h2 {
  color: black;
  text-shadow: 1px 1px #ffffff6e;
}
tbody > tr {
  background-color: #b1cbbb;
}

#container-fill-height {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.item-upper-right {
  position: absolute;
  top: 0;
  right: 0;
}

.centerElement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.link-as-button:link, a.link-as-button:visited {
  background-color: rgb(201, 76, 76);
  color: white;
  padding: 4px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.secret-invisible-id {
  display:none;
}

a.link-as-button:hover, a.link-as-button:active {
  background-color: rgb(231, 20, 20);
}

/******** IMAGE ZOOM ********/
ul.gallery {
  margin-left: 3vw;
  margin-right: 3vw;
}

.zoom {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.zoom:hover,
.zoom:active,
.zoom:focus {
  /**adjust scale to desired size, 
  add browser prefixes**/
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  position: relative;
  z-index: 100;
}

/**To keep upscaled images visible on mobile, 
  increase left & right margins a bit**/
@media only screen and (max-width: 768px) {
  ul.gallery {
    margin-left: 15vw;
    margin-right: 15vw;
  }

  /**TIP: Easy escape for touch screens,
  give gallery's parent container a cursor: pointer.**/
  .DivName {
    cursor: pointer;
  }
}
/******** END: IMAGE ZOOM ********/
