#titles {
  background-color: #deeaee;
}
#titles > td > div > h2 {
  color: black;
  text-shadow: 1px 1px #ffffff6e;
}
tbody > tr {
  background-color: #b1cbbb;
}

#container-fill-height {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.item-upper-right {
  position: absolute;
  top: 0;
  right: 0;
}

.centerElement {
  display: flex;
  flex-direction: column;
  align-items: center;
}
