div(class="modal-header" id= "container-fill-height")
    h2(class="my-0")="Rules"
    span(class="close item-upper-right px-4 py-3")="×"
div(class = "modal-body")
    h3(class="text-center mb-2")
        ="How is the best sounding instrument decided?"
    p(class="text-center my-0")
        ="String always defeats Percussion."
    p(class="text-center my-0")
        ="Percussion always defeats Wind."
    p(class="text-center my-0")
        ="Wind always defeats String."
    p(class="text-center overflow-hidden mt-4")
        ="If both instruments have the same type, the one with more sonority wins."