div(class="row" id="resultMessage" style=`background-color: ${data.backgroundColor}; border-color: ${data.borderColor}`)
    while data.line < data.lines.length
        p(class="text-center my-0")=data.lines[data.line++]