div(class="modal-header" id= "container-fill-height")
    h2(class="my-0")="Rules"
    span(class="close item-upper-right px-4 py-3")="×"
div(class = "modal-body")
    p(class="text-center my-0")
        ="String-> Percussion"
    p(class="text-center my-0")
        ="Percussion-> Wind"
    p(class="text-center my-0")
        ="Wind-> String"
    p(class="text-center overflow-hidden mt-0 mx-5")
        ="If both instruments have the same type, the one with more sonority will win."